* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; /*set from guide, so far defualt looks fine?*/
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('../../assets/cool-background.png') no-repeat; /*need to reference actual web url link when hosting*/
  background-size: cover;
  background-position: center;
}